[Desktop Entry]
Version=1.0
Type=Link
Name=SkullOfSummer/pjt/2 at master · STB1019/SkullOfSummer · GitHub
Comment=
Icon=gnome-fs-bookmark
URL=https://github.com/STB1019/SkullOfSummer/tree/master/pjt/2
