[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a StefanoPrandini/supreme-spork
Type=Link
URL=https://github.com/StefanoPrandini/supreme-spork
Icon=text-html
Name[it]=github - StefanoPrandini_supreme-spork
